body
{
background-image:url("tomato-3840-x-2160-background-xl4o5efb4jvoynm4.jpg");
background-repeat:no-repeat;
padding:0px;
margin:0px;
background-size:cover;
background-position-x:100%;
background-position-y:0%;
podsition:absolute;
}
.tit
{
font-size:250%;
text-align:center;
background-color:rgba(00,255,00,0.4);
color:#FFFFFF;
font-weight:bold;
padding:1%;
font-family: Verdana,sans-serif;
margin:0%;
}
.language-box-position
{
position:relative;
justify-content:center;
display:flex;
top:15%;
}
h1
{
font-size:110%;
padding:4px;
margin:0%;
font-family:sans-serif;
text-shadow:0px 2px grey;
}
p
{
padding:1px;
margin:0%;
}
p:hover
{
background-color:#00FF00;
border-radius:5px;
cursor:pointer;
}

.button
{
color:#FFFF00;
font-weight:bold;
font-family:Arial;
}
.button:hover
{
cursor:pointer;
background-color:rgba(00,00,255,0.2);
border-radius:10px;
}
.language-box
{
font-size:160%;
border-radius:10px;
border: 1px solid grey;
background-color:transparent;
backdrop-filter:blur(20px);
text-align:center;
padding:2%;
width:22%;
}
.image-initial
{
background-image:url("tomatoes-on-a-transparent-background-free-png.webp");
top:50%;
background-repeat:no-repeat;
position:fixed;
}